@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
}
body {
  background-color: white;
  font-family: "Archivo", sans-serif;
}
/* 1088px */
@media (max-width: 68em) {
  .container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  html {
    font-size: 95%;
  }
}
/* 384px */
@media (max-width: 24rem) {
  html {
    font-size: 70%;
  }
}
.page {
  min-height: 90vh;
}
.mail {
  word-wrap: break-word;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.button {
  transition: 0.3s;
}
/* background: none repeat scroll 0 0 transparent; */
