@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
}
body {
  background-color: white;
  font-family: "Archivo", sans-serif;
}
/* 1088px */
@media (max-width: 68em) {
  .container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  html {
    font-size: 95%;
  }
}
/* 384px */
@media (max-width: 24rem) {
  html {
    font-size: 70%;
  }
}
.page {
  height: 90vh;
}
